{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<main id="inicio" class="inicio">


    <h2>PROJETO PROGRAMADORES</h2>
    <P>
        Apoiar e incentivar a participação dos jovens no mundo da tecnologia
    </P>
    <a href="/website/templates/cadastro.html">CADASTRO</a>

</main>

<section id="sobre" class="sobre">
    <h2>aqui</h2>

</section>

<section id="conteudo" class="conteudo">
    <h2>conteudos</h2>

    <div class="logica">

    </div>

    <div class="front">

    </div>

    <div class="back">

    </div>

</section>

<section id="contato" class="contato">


    <div class="square">
        <a href="#" target="blank">
            <img src="{% static '/images/git.png' %}" alt="">
        </a>
        <h4>GITHUB</h4>
        <p>/projetoprogramadores</p>
    </div>

    <div class="square">
        <a href="#" target="blank">
            <img src="{% static '/images/git.png' %}" alt="">
        </a>
        <h4>INSTA</h4>
        <p>/projetoprogramadores</p>
    </div>

    <div class="square">
        <a href="#" target="blank">
            <img src="{% static '/images/git.png' %}" alt="">
        </a>
        <h4>TWITTER</h4>
        <p>/projetoprogramadores</p>
    </div>




</section>
</body>
{% endblock %}